.opacity-0
  opacity: 0

.title
  font-size: 36px
  font-weight: 400
  +lg
    font-size: 48px

.item-text
  font-size: 14px

.image-block
  border-radius: 6px
  overflow: hidden

.cosmetic-items
  margin-top: 65px
  margin-bottom: 70px
  display: flex
  flex-wrap: wrap
  gap: 20px
  +md
    display: grid
    grid-template-columns: repeat(3 , 1fr)
  +xl
    grid-template-columns: repeat(4 , 1fr)
    grid-template-rows: 430px 430px 430px 430px 430px

.card
  background: #EEE4DA
  border-radius: 6px
  width: 100%
  position: relative
  transition: all 0.2s ease-in-out
  &:hover
    background: #F5ECE3

  &--bigger
    +lg
      grid-column-start: span 2
      grid-row-start: span 2

  &__text
    position: absolute
    bottom: 0
    left: 0
    width: 100%
    display: flex
    justify-content: space-between
    padding: 25px

  &__product
    font-size: 16px
    &--bigger
      +lg
        font-size: 20px

  &__price
    font-weight: 500
    +lg
      font-weight: 400

    &--bigger
      +lg
        font-size: 24px

  &__image-wrap
    padding: 15px
    &--big
      padding: 40px
      height: 100%

  &__image
    width: 100%
    height: 100%
    object-fit: cover

.category-card
  +max(767)
    max-height: 430px
    flex: 1 1 calc(50% - 10px)
    max-width: calc(50% - 10px)

  +max(500)
    flex: 1 1 100%
    max-width: 375px
    margin: 0 auto
