.header
  position: relative
  padding: 19px 0
  +lg
    padding: 45px 0

  &--absolute
    position: absolute
    z-index: 10
    min-height: 600px
    transition: 0.8s all ease
    +md
      min-height: auto

.navbar--mobile
  background: #F5ECE3

.header__profile-icon
  padding-right: 8px

.header__nav-item--size
  font-size: 24px
  +lg
    font-size: 14px

.item-text
  &--black
    color: #555555

  &--white
    color: #FFFFFF

  &--main
    color: #555555
    +lg
      color: #FFFFFF

.contacts-link-text
  padding: 8px 0

.navbar-expand-lg .navbar-nav .nav-link--decoration
  padding-left: 0
  padding-right: 0
  margin-left: 8px
  margin-right: 8px

.nav-link--decoration
  transition: all 0.3s ease
  padding-top: 4px
  padding-bottom: 4px
  border-bottom: 1px solid transparent
  +lg
    &:hover
      transform: translate(0, 2px)
      border-bottom: 1px solid #555555

.navbar-wrap:before
  +max(992)
    content: " "
    width: 100%
    position: absolute
    height: 1px
    background: rgba(0, 0, 0, 0.05)
    left: 0
    top: 57px

.navbar-wrap
  +max(992)
    margin-top: 40px

.nav-item
  +lg
    opacity: 0
  +max(992)
    margin-bottom: 10px

.nav-link--active
  color: #AC8F78

.header__bag-icon
  opacity: 1
  +lg
    opacity: 0

.toggler-icon
  display: block
  height: 2px
  width: 22px
  border-radius: 8px
  background: #555555
  &--white
    background: #fff

.toggler-icon + .toggler-icon
  margin-top: 5px

.header__socials
  margin: 40px 0
  +lg
    display: none

.header__signature
  margin: 35px 0
  display: flex
  justify-content: center
  +lg
    display: none
