$main-font: 'CeraPro', Arial, sans-serif
$title-font: 'CeraPro', sans-serif

$body-bg: #F5ECE3

$xl-screen: 1440px
$lg-screen: 992px
$md-screen: 768px
$sm-screen: 575px

$duration: 0.3s

// Ovverride bootstrap variables
$grid-breakpoints: (xs: 0, sm: 575px, md: 768px, lg: 992px, xl: 1440px)
$container-max-widths: (sm: 100%, md: 740px, lg: 980px, xl: 1330px)

// +_assert-ascending($grid-breakpoints, "$grid-breakpoints")
// +_assert-starts-at-zero($grid-breakpoints, "$grid-breakpoints")
// +_assert-ascending($container-max-widths, "$container-max-widths")

$spacer: 4px
$spacers: ( 0: 0, 1: $spacer, 2: $spacer * 2, 3: $spacer * 3, 4: $spacer * 4, 5: $spacer * 5)

$grid-columns: 12
$grid-gutter-width: 30px

$gutters: $spacers

// Container padding
$container-padding-x: $grid-gutter-width

$enable-important-utilities: false
