@import "_variables"
@import "_bootstrap"
@import "_utilites"
@import "_mixins"
@import "_fonts"
@import "_general"
@import "_header"
@import "_components"
@import "_footer"
@import "_modal"
@import "_vendor-custom"
@import "_icons"


.test-text
  font-size: 12px
  padding: 12px
  color: #fff
  background: #fac310
  +sm
    background: #99ec12
  +md
    background: #0cdee9
  +lg
    background: #0c2de9
  +xl
    background: #6c0ce9
