@import "_variables"
@import "_mixins"
@import "_animation"
@import "_fonts"
@import "_components"
@import "_general"
@import "_header"
@import "_footer"
@import "_modal"
@import "_vendor-custom"
@import "_icons"

// <div class="icon-search">
//   <svg width="160" height="160" viewBox="0 0 16 16" fill="none" xmlns="http://www.w3.org/2000/svg">
//     <path
//       d="M15 15L10.9556 10.9556M12.6667 6.83333C12.6667 10.055 10.055 12.6667 6.83333 12.6667C3.61167 12.6667 1 10.055 1 6.83333C1 3.61167 3.61167 1 6.83333 1C10.055 1 12.6667 3.61167 12.6667 6.83333Z"
//       stroke="white" stroke-width="1.5" stroke-linecap="round" stroke-linejoin="round" />
//   </svg>
// </div>

// .navbar-wrap
//   +max(992)
//     padding-top: 40px
//     border-top: 1px solid rgba(0, 0, 0, 0.05)
//     margin-top: 15px  

// category start

.category-menu
  background: #EEE4DA
  padding: 13px 0 14px 0
  margin-bottom: 30px
  +lg
    margin-bottom: 70px

.category-menu__inner
  display: flex
  flex-direction: column
  justify-content: center
  align-items: center
  +lg
    flex-direction: row

.category-menu__link
  font-size: 14px
  opacity: 0.4
  &--active
    opacity: 1

.category-menu__link + .category-menu__link
  +max(992)
    margin-top: 10px
  +lg
    margin-left: 70px

.category-hero__title
  text-align: center
  margin-bottom: 30px

.category-hero__image
  height: 350px
  object-fit: cover
  +lg
    height: auto

// category end    

// index start  

.carousel-hero .carousel-indicators button
  border-radius: 50%
  width: 10px
  height: 10px

.carousel-item--relative
  position: relative

.carousel-item__title
  position: absolute
  color: #FFFFFF
  left: 50%
  top: 50%
  transform: translate(-50%,-50%)
  letter-spacing: -0.04em
  min-width: 300px
  text-align: center

.carousel-item__line
  background: white
  opacity: 0.3
  height: 2px
  margin-top: 8px

.carousel-control-inner
  background: rgba(136, 136, 136, 0.3)
  width: 63px
  height: 45px
  display: flex
  justify-content: center
  align-items: center

.carousel-inner__image
  height: 600px
  object-fit: cover
  +md
    height: 100%
    width: 100%

.carousel-control
  border-radius: 60px
  overflow: hidden
  width: 63px
  height: 45px
  top: 50%
  transform: translate(0, -50%)
  display: none
  +md
    display: block

.carousel-control-prev
  left: 70px

.carousel-control-next
  right: 70px

// carousel for card  

.cosmetic-items
  .carousel,
  .carousel-inner,
  .carousel-item
    height: 100%

  .carousel-image
    object-fit: cover

.carousel-control__buttons
  background: rgba(136, 136, 136, 0.3)
  border-radius: 10px
  width: 72px
  height: 40px
  display: flex
  justify-content: center
  gap: 18px
  position: absolute
  bottom: 30px
  right: 30px

.carousel-card__title
  letter-spacing: -0.03em
  position: absolute
  bottom: 22px
  left: 30px
