{% extends "../layout/default.twig" %}

{% block page %}
<div class="category-menu">
  <div class="category-menu__inner">
    <a class="category-menu__link category-menu__link--active" href="#">Care cosmetics</a>
    <a class="category-menu__link" href="#">Decorative cosmetics</a>
    <a class="category-menu__link" href="#">Eyebrow cosmetics</a>
    <a class="category-menu__link" href="#">Accessories</a>
  </div>
</div>

<div class="container">
  <section class="category-hero">
    <h1 class="title category-hero__title">Care cosmetics</h1>
    <div class="image-block">
      <img class="category-hero__image" src="images/category/hero_img.jpg" alt="">
    </div>
  </section>

  <div class="cosmetic-items">
    <div class="card category-card">
      <div class="card__image-wrap">
        <img class="card__image" src="../images/common/bottle.png" alt="">
      </div>
      <div class="card__text">
        <span class="card__product">Perfect brows</span>
        <span class="card__price">54 €</span>
      </div>
    </div>

    <div class="card category-card">
      <div class="card__image-wrap">
        <img class="card__image" src="../images/common/bottles.png" alt="">
      </div>
      <div class="card__text">
        <span class="card__product">Perfect brows</span>
        <span class="card__price">54 €</span>
      </div>
    </div>

    <div class="card category-card">
      <div class="card__image-wrap">
        <img class="card__image" src="../images/common/pencil.png" alt="">
      </div>
      <div class="card__text">
        <span class="card__product">Perfect brows</span>
        <span class="card__price">54 €</span>
      </div>
    </div>

    <div class="card category-card">
      <div class="card__image-wrap">
        <img class="card__image" src="../images/common/bottle.png" alt="">
      </div>
      <div class="card__text">
        <span class="card__product">Perfect brows</span>
        <span class="card__price">54 €</span>
      </div>
    </div>

    <div class="card card--bigger category-card">
      <div class="card__image-wrap card__image-wrap--big">
        <img class="card__image" src="../images/common/big-pencil.png" alt="">
      </div>
      <div class="card__text">
        <span class="card__product card__product--bigger">Perfect brows</span>
        <span class="card__price card__price--bigger">54 €</span>
      </div>
    </div>

    <div class="card category-card">
      <div class="card__image-wrap">
        <img class="card__image" src="../images/common/bottle.png" alt="">
      </div>
      <div class="card__text">
        <span class="card__product">Perfect brows</span>
        <span class="card__price">54 €</span>
      </div>
    </div>

    <div class="card category-card">
      <div class="card__image-wrap">
        <img class="card__image" src="../images/common/bottles.png" alt="">
      </div>
      <div class="card__text">
        <span class="card__product">Perfect brows</span>
        <span class="card__price">54 €</span>
      </div>
    </div>

    <div class="card category-card">
      <div class="card__image-wrap">
        <img class="card__image" src="../images/common/pencil.png" alt="">
      </div>
      <div class="card__text">
        <span class="card__product">Perfect brows</span>
        <span class="card__price">54 €</span>
      </div>
    </div>

    <div class="card category-card">
      <div class="card__image-wrap">
        <img class="card__image" src="../images/common/bottle.png" alt="">
      </div>
      <div class="card__text">
        <span class="card__product">Perfect brows</span>
        <span class="card__price">54 €</span>
      </div>
    </div>

    <div class="card category-card">
      <div class="card__image-wrap">
        <img class="card__image" src="../images/common/bottle.png" alt="">
      </div>
      <div class="card__text">
        <span class="card__product">Perfect brows</span>
        <span class="card__price">54 €</span>
      </div>
    </div>

    <div class="card category-card">
      <div class="card__image-wrap">
        <img class="card__image" src="../images/common/bottles.png" alt="">
      </div>
      <div class="card__text">
        <span class="card__product">Perfect brows</span>
        <span class="card__price">54 €</span>
      </div>
    </div>

    <div class="card d-xl-none category-card">
      <div class="card__image-wrap">
        <img class="card__image" src="../images/common/bottle.png" alt="">
      </div>
      <div class="card__text">
        <span class="card__product">Perfect brows</span>
        <span class="card__price">54 €</span>
      </div>
    </div>

    <div class="card card--bigger category-card">
      <div class="card__image-wrap card__image-wrap--big">
        <img class="card__image" src="../images/common/big-pencil.png" alt="">
      </div>
      <div class="card__text">
        <span class="card__product card__product--bigger">Perfect brows</span>
        <span class="card__price card__price--bigger">54 €</span>
      </div>
    </div>

    <div class="card category-card">
      <div class="card__image-wrap">
        <img class="card__image" src="../images/common/pencil.png" alt="">
      </div>
      <div class="card__text">
        <span class="card__product">Perfect brows</span>
        <span class="card__price">54 €</span>
      </div>
    </div>

    <div class="card category-card">
      <div class="card__image-wrap">
        <img class="card__image" src="../images/common/bottle.png" alt="">
      </div>
      <div class="card__text">
        <span class="card__product">Perfect brows</span>
        <span class="card__price">54 €</span>
      </div>
    </div>

  </div>
</div>
{% endblock %}