{% extends "../layout/default.twig" %}

{% block page %}
<div class="category-menu">
    <div class="category-menu__inner">
        <button class="category-menu__btn"></button>
    </div>
</div>
{% endblock %}